<html>
<head>
    <title>EPOS GLASS-API - Developer Information</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="w3.css">
    <link rel="stylesheet" href="w3-theme-purple.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="build.js"></script>
</head>



<body>

<!-- Header -->
<header class="w3-container w3-theme w3-padding" id="myHeader">
    <div class="w3-center">
        <img src="images/EPOS_logo_WP10_whitestroke.png" >
        <h4>GLASS-API Framework WebUI</h4>
    </div>
</header>

<div class="w3-row-padding">
    <div class="w3-third"></div>
    <div class="w3-third">
        <div class="w3-card white">
            <div class="w3-container w3-theme">
                <h4><i class="fa fa-code" aria-hidden="true"></i> Information </h4>
            </div>
            <div class="w3-container">
                <br />
                Hostname <div class="w3-responsive w3-card-4" id="hostname">  </div><br />
                Node Type <div class="w3-responsive w3-card-4" id="nodetype">  </div><br />
                Version <div class="w3-responsive w3-card-4" id="version">  </div><br />
                Build Date <div class="w3-responsive w3-card-4" id="build">  </div><br />
                Database Information <div class="w3-responsive w3-card-4" id="database_information">  </div><br />
                Cache Status <div class="w3-responsive w3-card-4" id="cacheStatus">  </div>
                <br />
            </div>
        </div>
    </div>
</div>
<div class="w3-row-padding">
    <div class="w3-third"></div>
    <div class="w3-third">
        <button onclick="window.history.back()"><i class="fa fa-arrow-left" style="font-size: 24px;"></i> Back</button>
    </div>
</div>

<!-- Footer -->
<footer class="w3-container w3-theme-dark" style="position: fixed;bottom: 0;width: 100%">
    <h4>EPOS - European Plate Observing System, an ERIC infrastructure</h4>
</footer>

<!-- <script>
    var pportal=<%=GlassConstants.PRODUCTSPORTAL%>;
    if (pportal)
        document.getElementById("snodetype").innerHTML = "Glass Data Node";
    else
        document.getElementById("snodetype").innerHTML ="Glass Products Node";
</script> -->

</body>
</html>
